@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0 auto;
}
header{
    background-color: #ffffff;
    padding: 12px 0;
    display: flex;
    font-family: poppins;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.logo{
    font-size: 18px;
    color: #212529;

}
.menu{
    font-size: 11px;
    text-decoration: none;
    color: #212529;
    margin-left: 5px;
    padding: 0 10px;
}
.iconos-menu .bi{
    color: #4D555A;
    margin-left: 5px;
    padding: 5px;
    font-size: 13px;

}
.menu:hover{
    background-color: #cbcccd;
    
}
.iconos-menu .bi:hover{
    background-color: #cbcccd;
    border-radius: 30%;
    color: white;
}
    
/* 1ra sección */

.hero{
    
    background-color: #F5DF4E;
    display: flex;
    padding: 100px 0;
    justify-content: center;
    justify-content: space-evenly;
    font-family: poppins;
    color: #212529;
}
.presentacion{
    margin-top:60px;
    margin-left: 150px;
    
}
.presentacion h3{
    font-size: 30px;
}
.presentacion h1{
    font-size: 50px;
    letter-spacing: 2px; 
    line-height: 55px; 
}
.presentacion span{
    color: #D7C448;
    margin-left: 3px;
}
.presentacion p{
    font-size: 16px;
    margin-top: 15px;
}
.presentacion button{
    background-color: #212529;
    color: #ffffff;
    border: none;
    padding:10px 25px;
    margin-top: 20px;
    font-size: 11px;
}
.presentacion a{
    font-size: 12px;
    color: #212529; 
    margin-left: 20px;
}
.presentacion .bi{
    margin-left: 5px;
}

.fotocara img{
    width: 40%;
    border: 10px solid #FFFFFF;
    border-radius: 50%;
    filter: sepia(50%);
    margin-left: 150px;
    margin-top: 50px;    
}
.presentacion button:hover{
background-color: #4D555A;
}
.presentacion a:hover{
    color: white;
}


/* 2da sección */
.acercade{
   margin: 0 auto;
    padding: 60px 0;
    background-color: #FFFFFF;
    text-align: center;
    font-family: poppins;
    color: #212529;
}
.titulo-seccion{
    background-color: #F5DF4E;
    margin: 0 635px;
    font-size: 12px;
} 
.acercade h3{
    font-size: 26px;
    margin-top: 5px;
    
}


.contenedor{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    
}
.circulo{
    font-size: 26px;
    color: #4D555A;
}
.hola{
    font-size: 24px;
}
.descripcion{
    width: 600px;
    padding: 30px 0;
    text-align: justify;
}
.contenedor span{
    background-color: #F5DF4E;
    border-radius: 50%;
    padding: 20px 0;
}
.datos{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    font-size: 12px;
    text-align: left;
}

/* 3ra sección */
.servicios{
    background-color:#F8F9FA;
    font-family: poppins;
    padding: 60px 0;
    text-align: center;

}
.servicios h3{
    font-size: 26px;
    margin-top: 5px;
}
.contenedorconocimientos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}
.diseño{
    width: 300px;
    padding: 40px 0;
    font-size: 12px;
    margin: 10px 30px;
    text-align: justify center;
}
.diseño .bi{
    font-size: 40px;
    color: #F5DF4E;
}

/* 4ta sección */
.resume{
    padding: 60px 0;
    background-color: #FFFFFF;
    text-align: center;
    font-family: poppins;
    color: #212529;
}
   

.curriculum{
    display: flex;
    justify-content: center;
    text-align: left;
    font-size:0.8rem;
    flex-wrap: wrap;
    margin: 50px 0;

}

.educacion {
    
    border-left: solid 1px #F5DF4E;
    padding-left: 10px;
    width: 500px;
    margin-right: 20px;

}
.experiencia{
    
    border-left: solid 1px #F5DF4E;
    padding-left: 10px;
    width: 500px;
    margin-left: 10px;
    
    
}
.parrafo{
margin: 15px 0 10px 0;
padding: 10p 5px;
}
hr{
    margin-top: 20px;
    
}

.tituloed {    
    height: 20px;
    margin-bottom: 15px;
    font-size: 1rem;
   
}
.tituloex{
    height: 20px;
    margin-bottom: 15px;
    font-size: 1rem;
    
}
.resume h3{
    font-size: 26px;
}

.contenedor-barra{
    background-color:#E9ECEF;
    width: 100%;
    height: 10px;
    border-radius: 20px;

} 
.barra65{
    width: 65%;
    height: 10px;
    background-color: #F5DF4E;
    border-radius:20px;
}
.webdesign{
    width: 500px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}
.cajaskills{
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    margin:20px 20px;
    

}
.skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.habilidades{
    text-align: left;
    margin-left: 150px;
}
    

    


/* 5ta sección */

.portfolio{
    background-color: darkgreen;
}
/* footer */
footer{
    background-color: #F5DF4E;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    padding: 50px 0;
    font-family: poppins;
    color: #212529;
    
}
.contacto{
    width: 400px;
    
}
.formulario{
    width: 450px;
}

form{
    display: flex;
    flex-direction: column;
    color: #212529;
    
    
}

label{
    font-size: 11px;
    margin-top: 10px;
}
input{
    border: 0;
    background-color: #F5DF4E;
    border-bottom: 1px solid #D7C448;
    padding: 10px 0;
    
}
.mensaje{
    padding: 30px 0;
}
.enviar{
    margin-top: 20px;
    width: 130px;
    background-color: #212529;
    border: none;
    color:#FFFFFF ;
    padding:10px 20px;
    text-align:center;
   
}

.enviar .bi{
    margin-left: 5px;
    font-size: 18px;
    text-align: center;
    
}
.contacto p{
    margin-top: 25px;
    font-size: 12px;
}
.iconos-footer{
    color: #4D555A;
    margin-top: 30px;
}
.iconos-footer .bi{
    margin-right: 10px;
}
.contacto span{
    font-size: 12px;
}